/*------------------------------------*\
    $SIDENAV
\*------------------------------------*/

.sidenav {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(shoryuken) + 2;
  
  // Box-model
  display: flex;
  padding-top: 0;
  height: 100%;
  
  // Responsive
  @include respond-to(small) {
    // Positioning
    z-index: z(shoryuken);
    
    // Box-model
    padding-top: $header-sm;
    
    // Style when header navigation is open
    &.header__nav-open {
      padding-top: $header-sm + $headernav-height;
    }
  }
  
  // Sidenav backdrop
  &__back {
    // Box-model
    display: none;
    
    // Style when sidenav is open
    &.nav-open {
      // Positioning
      position: absolute;
      top: 0;
      left: 0;
      
      // Box-model
      display: block;
      width: 100vw;
      height: 120%;
      
      // Visual
      background-color: $backdrop;
      
      // Responsive
      @include respond-to(small) {
        // Box-model
        display: none;
      }
    }
  }
  
  // sidenav conten
  &__content {
    // Positioning
    z-index: 2;
    
    // Box-model
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    
    // Visual
    background-color: $white;
    
    // Misc
    transition: width $close-delay;
    
    // Responsive
    @include respond-to(small) {
      // Box-model
      width: $sidenavwidth-sm;
    }
    
    // Style when sidenav is open
    &.nav-open {
      width: $sidenavwidth-md;
    }
  }
}