/*------------------------------------*\
    $DIALOG
\*------------------------------------*/

// Style for component
nmd-dialog {
  // Positioning
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(goku);
  
  // Box-model
  height: 100%;
  
  // Misc
  animation: opacityShow $dialog-duration ease-in;
  transition: opacity $dialog-duration ease-out;
  
  // Animation when close element
  &.dialog--close {
    opacity: 0;
  }
  
  // dialog content
  .dialog {
    
    // Dialog backdrop
    &__back {
      // Positioning
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      height: 120%;
      
      // Visual
      background-color: $backdrop;
    }
    
    // Style for compenent inserted in dialog
    &__component {
      // Positioning
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      max-width: 85%;
      max-height: 80%;
      
      // Visual
      background-color: white;
      border-radius: .25rem;
      
      // Misc
      transform: translateY(-50%);
      
      // Responsive
      @include respond-to(small) {
        width: 30rem;
      } 
      
      @include respond-to(medium) {
        width: 40rem;
      }
      
      // For form inside dialog
      form {
        margin: 0;
      }
    }
    
    &__body {
      max-height: 14.125rem;
    }
  }
}