/*------------------------------------*\
    $DIALOG
\*------------------------------------*/

nmd-dialog {
  // Positioning
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(goku);
  
  // Box-model
  height: 100%;
  
  .dialog {
    
    // Dialog backdrop
    &__back {
      // Positioning
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      height: 120%;
      
      // Visual
      background-color: $backdrop;
    }
    
    // Style for compenent inserted in dialog
    &__component {
      // Positioning
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      overflow: hidden;
      margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 85%;
      max-height: 80%;
      
      // Visual
      background-color: white;
      border-radius: .25rem;
      
      // Responsive
      @include respond-to(small) {
        margin-top: 6rem;
        width: 30rem;
      } 
      
      @include respond-to(medium) {
        width: 40rem;
      }
      
      // For form inside dialog
      form {
        margin: 0;
      }
      
      // Styles for component header
      &--header {
        // Box-model
        margin: 0 0 1.25rem;
        padding: 1.5rem 1.5rem 0;
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        dialog__title {
          display: inline-block;
          margin: 0;
        }
      }
      
      // Styles for component body
      &--body {
        // Box-model
        overflow: auto;
        margin: 0 0 1.5rem;
        padding: 0 1.5rem 0;
        max-height: 24rem;
      }
      
      // Styles for component footer
      &--footer {
        // Box-model
        padding: .5rem .5rem .5rem 1.5rem;
        max-height: 3.25rem;
        height: 3.25rem;
        
        // Tipography
        text-align: right;
        
        .btn {
          margin-left: .5rem;
          min-width: 6.25rem;
        }   
      }
    }
  }
}