<div class="dialog__back"></div>
<div class="dialog__wrap whiteframe-5">
  <h1>Hola</h1>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
  <p>Este es un dialogo</p>
</div>