@if $include-dialog == true {
/*------------------------------------*\
    $DIALOG
\*------------------------------------*/
/* Styles for dialog contents use in forms */

.dialog {
  
  // Styles for component header
  &__header {
    // Box-model
    margin: 0 0 1.25rem;
    padding: 1.5rem 1.5rem 0;
    
    // Ellipsis
    @extend %text-overflow;
    
    .dialog__title {
      // Box-model
      display: inline-block;
      margin: 0;
      max-width: 100%;
      
      // Tipography
      font-size: fs(medium);
      font-weight: 600;
    }
    
    .dialog__title--sm {
      // default dialog__title styles
      @extend .dialog__title;
      
      // Tipography
      font-size: fs(normal);
    }
    
    .dialog__title--big {
      // default dialog__title styles
      @extend .dialog__title;
      
      // Tipography
      font-size: fs(big);
    }
  }
  
  // Styles for component body
  &__body {
    // Box-model
    overflow: auto;
    margin: 0 0 1.5rem;
    padding: 0 1.5rem 0;
  }
  
  // Styles for component footer
  &__footer {
    // Box-model
    padding: .5rem .5rem .5rem 1.5rem;
    max-height: 3.25rem;
    height: 3.25rem;
    
    // Tipography
    line-height: 2.25rem;
    text-align: right;
    
    .btn {
      margin-left: .5rem;
    }   
  }
}
} // endif