<ul class="menu__list">
  <li class="menu__item" ng-click="$ctrl.changeState('homeView')">
    <div class="material-icons">home</div>
    <span translate="NAV.HOME"></span>
  </li>
  <li class="menu__item" ng-click="$ctrl.changeState('helpView')">
    <div class="material-icons">help</div>
    <span translate="NAV.HELP"></span>
  </li>
  <div class="divider"></div>
  <li class="menu__item" ng-click="$ctrl.changeState('configView')">
    <div class="material-icons">settings</div>
    <span translate="NAV.SETTINGS"></span>
  </li>
</ul>