<div class="dialog__header">
  <h1 class="dialog_title" translate="MESSAGE.TITLE"></h1>
</div>
<div class="dialog__body">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit minus ducimus magnam in iure fugit voluptatum corrupti
    dolorem, vero, atque ratione eius accusamus sint maxime, odio tempore dolores cumque aliquam!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit minus ducimus magnam in iure fugit voluptatum corrupti
    dolorem, vero, atque ratione eius accusamus sint maxime, odio tempore dolores cumque aliquam!</p>
</div>
<div class="dialog__footer">
  <button class="btn" translate="MESSAGE.CLOSE" ng-click="$ctrl.close()"></button>
</div>