/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.app-content {
  padding: $gutterwidth;
}

  .content-wrapper {
    // Box-model
    padding: 1em;
    
    // Visual
    background-color: $white;
  }