/*------------------------------------*\
    $DIALOG COMPONENT
\*------------------------------------*/
// Style for component
nmd-dialog {
  // Positioning
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(goku);
  
  // Box-model
  height: 100%;
}

  // dialog content
  .dialog {
    
    // Dialog backdrop
    &__back {
      // Positioning
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      height: 120%;
      
      // Visual
      background-color: $backdrop;
    }
    
      // Close button
      &__close--btn {
        // Positioining
        position: absolute;
        top: .5rem;
        right: .5rem;
        
        // Box-model
        display: block;
        box-sizing: content-box;
        width: 2rem;
        height: 2rem;
        
        // Visual
        cursor: pointer;
        background-color: transparent;
        
        // Style for X arms
        &::before, &::after {
          // Positioning
          position: absolute;
          top: 50%;
          left: 50%;
          
          // Box-model
          content: '';
          display: inline-block;
          box-sizing: content-box;
          width: 1.5rem;
          height: .25rem;
          
          // Visual
          background: $white;
        }
        
        // Translate and rotate '\' arm
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        
        // Translate and rotate '/' arm
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    
    // Style for compenent inserted in dialog
    &__component {
      // Positioning
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: z(goku);
      
      // Box-model
      overflow: hidden;
      min-width: 19rem;
      
      // Visual
      background-color: white;
      border-radius: .25rem;
      
      // Misc
      transform: translate(-50%, -50%);
      
      // For form inside dialog
      form {
        margin: 0;
      }
    }
    
      // Styles for the body of a dialog
      &__body {
        //Box-model (with compatibility for vh)
        max-height: 14.125rem;
        max-height: 60vh;
        
        // Responsive
        @media screen and (min-height: 37.5rem) {
          max-height: 70vh;
        }
      }
  }