/*------------------------------------*\
    $DIALOG COMPONENT
\*------------------------------------*/

// Style for component
nmd-dialog {
  // Positioning
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(goku);
  
  // Box-model
  height: 100%;
  
  // Misc
  animation: opacityShow $dialog-duration ease-in;
  transition: opacity $dialog-duration ease-out;
  
  // Animation when close element
  &.dialog--close {
    opacity: 0;
  }
}

  // dialog content
  .dialog {
    
    // Dialog backdrop
    &__back {
      // Positioning
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: z(goku);
      
      // Box-model
      height: 120%;
      
      // Visual
      background-color: $backdrop;
    }
    
    // Style for compenent inserted in dialog
    &__component {
      // Positioning
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: z(goku);
      
      // Box-model
      overflow: hidden;
      
      // Visual
      background-color: white;
      border-radius: .25rem;
      
      // Misc
      transform: translate(-50%, -50%);
      
      // For form inside dialog
      form {
        margin: 0;
      }
    }
    
    &__body {
      //Box-model (with compatibility for vh)
      max-height: 14.125rem;
      max-height: 60vh;
      
      // Responsive
      @media screen and (min-height: 37.5rem) {
        max-height: 70vh;
      }
    }
  }