/*------------------------------------*\
    $APP-HEADER COMPONENT
\*------------------------------------*/

app-header {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z(shoryuken) + 1;
  
  // Visual
  background-color: $header-color;
  
  .header__wrapper {
    // Box-model
    display: flex;
    align-items: center;
    height: $header-xs;
    
    // Responsive
    @include respond-to(small) {
      height: $header-sm;
    }
  }
  
    .header__logo {
      // Box-model
      margin-left: $headermargin-xs;
      padding: $logopadding;
      
      // Typography
      line-height: $header-xs;
      color: $white;
      font-size: fs(medium);
      
      // Responsive
      @include respond-to(xsmall) {
        font-size: fs(big);
      }
      
      @include respond-to(small) {
        margin-left: $headermargin-sm;
        line-height: $header-sm;
      }
    }
    
    .header__item,
    .header__item.btn--icon {
      // Tipography
      line-height: $header-xs;
      
      // Visual
      color: $white;
      
      @include respond-to(small) {
        line-height: $header-sm;
      }
      
      .material-icons {
        color: $white;
      }
    }
    
    
    // Add space between elements
    .header__space {
      flex: 1;
    }
  
  // Navigation for header
  .header__nav {
    // Box-model
    min-width: 100%;
    height: 0;
  }
  
  &.header__nav-open .header__nav {
    height: $headernav-height;
  }
}
  