<header class="header__wrapper">
  <div class="btn--icon header__item material-icons" ng-click="$ctrl.toggleSidenav()">menu</div>
  <a href="/" title="Angular Seed">
    <span class="header__logo">Angular Seed</span>
  </a>
  <span class="header__space"></span>
  <div class="btn--icon header__item material-icons" ng-click="$ctrl.toggleHeaderNav()">notifications</div>
  <lang-list class="header__item dropdown"></lang-list>
</header>
<nav class="header__nav" ng-class="$ctrl.headerNav.cssClass"></nav>