/*------------------------------------*\
    $APP-MAIN 
\*------------------------------------*/
/* Styles for all related with the main views. */

// Take all width for column direction of '.app-body'
app-main {
  // Box-model
  display: flex;
  flex-direction: column;
  
  // Flexbox item
  // take all height off '.app-body'
  flex-grow: 1;
  
  // Misc
  transition: margin-left $close-delay;
  
  // Responsive
  @include respond-to(small) {
    // Box model
    margin-left: $sidenavwidth-sm;
    
    // When side nav is open
    app-sidenav.nav-open + & {
      margin-left: $sidenavwidth-md;
    }
  }
  
  // ui-view container
  // Take all width for column direction of 'app-main'
  .view-container {
    // Box-model
    display: flex;
    flex-direction: column;
    
    // Flexbox item
    // take all height off 'app-main'
    flex-grow: 1;
    
    // Style for view componet
    // Take all width for column direction of '.view-container'
    &>* {
      // Box-model
      margin: 0 auto;
      padding: 1rem;
      max-width: $pagemaxwidth;
      width: 100%;
      
      // Flexbox item
      // take all height off '.view-container'
      flex-grow: 1;
    }

      .content-wrapper {
        // Box-model
        padding: 1em;
      
        // Visual
        background-color: $white;
      }
  }
}