@if $include-menus == true {
/*------------------------------------*\
    $MENU
\*------------------------------------*/

// Sidenav menu
.menu {
  &__list {
    // Box-model
    margin: $gutterwidth 0 0;
    padding: 0;
    
    // Visual
    list-style: none;
  }
  
  &__item {
    // Box-model
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 0;
    padding-left: ($sidenavwidth-sm - 1.5rem) / 2;
    width: 100%;
    min-height: $menu-height;
    height: $menu-height;
    
    // Tipography
    line-height: $menu-height;
    text-align: left;
    text-transform: none;
    
    // Visual
    cursor: pointer;
    
    .material-icons {
      // Box-model
      flex: 0 0 auto;
      margin-right: ($sidenavwidth-sm - 1.5rem) / 2;
      
      // Tipography
      line-height: $menu-height;
      color: $darkgrey;
    }
    
    // Menu text
    span {
      flex: 1 1 auto;
    }
  }
}

// Dropdown menu
.dropdown {
  // Positioning
  position: relative;
  z-index: z(shoryuken);
  
  // Box-model
  display: inline-block;
  
  /* Hide the checkbox itself.
  Checking and unchecking it we will be done via the label element. */
  input[type=checkbox]{
    display: none;
  }
  
  // Click to expand button
  &__label {
    // Positioning
    position: relative;
    
    // Box-model
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 3rem;
    
    // Tipography
    text-align: center;
    
    // Visual
    cursor: pointer;
    
    // Misc
    user-select: none; 
  }
  
  // Dropdown menu start hidden
  &__list {
    // Positioning
    position: absolute;
    
    // Box-model
    display: none;
    margin: 0;
    padding: 0;
    min-width: 8rem;
    
    // Tipography
    text-align: left;
    
    // Visual
    list-style: none;
    background-color: white;
    @extend .whiteframe-2;
  }
  
  // List from right of toggle button
  // add 'dd-right' class in ul element
  &__list.dd-right {
    // Positioning
    right: 0.75rem;
  }
  
  // Menu with nice pointer
  // add 'dd-pointer' class in ul element
  &__list.dd-pointer {
    // Positioning
    top: calc(100% + .75rem);
    
    // Add nice pointer :D
    &::before {
      // Positioning
      position: absolute;
      top: -.75rem;
      
      // Box-model
      content: '';
      display: block;
      height: 0;
      width: 1rem;
        
      // Visual
      border-color: transparent transparent $header-color-hue transparent;
      border-style: solid;
      border-width: 0 .75rem .75rem .75rem;
    }
  }
  
  // Move pointer to right
  &__list.dd-pointer.dd-right {
    &::before {
      right: 0;
    }
  }
 
    // Style of dropdown item
    &__item {
      // Box-model
      padding: .5rem 1rem;
      
      // Tipography
      color: $black;
      font-size: fs(normal);
      
      // Visual
      cursor: pointer;
    }
    
    &__item:hover {
      background-color: cp($primary, h1);
    }
  
  // show dropdown list and backdrop
  
  input[type=checkbox]:checked ~ .dropdown__label {
    color: cp($accent, h1);
  }
  
  input[type=checkbox]:checked ~ .dropdown__list {
    display: block;
  }
}

} // endif