/*------------------------------------*\
    $TOAST COMPONENT
\*------------------------------------*/

// Wrap all component style
nmd-toast {
  // Positioning
  position: fixed;
  right: 0; 
  bottom: 0;
  left: 0;
  z-index: z(goku);
  
  // Tipography
  text-align: center;
  
  // Misc
  animation: openToast $toast-duration;
  
  // Component classes
  .toast {
    &__content {
      // Box-model
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: .875rem 1.5rem;
      width: 100%;
      min-height: 3rem;
      
      // Visual
      background-color: #323232;
      
      // Responsive
      @include respond-to(small) {
        // Box-model
        min-width: 18rem;
        max-width: 35.5rem;
        width: auto;
      }
    }
    
    &__text {
      // Box-model
      display: inline-block;
      
      // Tipography
      font-size: fs(small);
      line-height: 1.45;
      color: white;
      
      // Misc
      animation: showToastContent $toast-duration + .1s;
    }
    
    &__btn {
      // Box-model
      margin-left: 1.5rem;
      padding-right: 0;
      padding-left: 0;
      
      // Tipography
      font-size: fs(small);
      line-height: 1.45;
      color: cp($accent, df);
      
      // Visual
      background-color: transparent;
      
      // Misc
      animation: showToastContent $toast-duration + .1s;
    }
  }
}

// Toast Animations
@keyframes openToast {
  from {
    bottom: $toast-bottom;
  }
  to {
    bottom: 0;
  }
}

@keyframes showToastContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}