/*------------------------------------*\
    $SITE
\*------------------------------------*/

@viewport {
	width: device-width;
}

html {
  // Box-model
  min-height: 100%;
	height: 100%;
  
  // Typography
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  
  // visual
  background: $background;
  
  // Misc
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
  
  // Responsive
	@include respond-to(small) {
		font-size: 100%;
	}
}

body {
  // Box-model
  margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
  
  // Typography
	font-family: $basefont;
	line-height: $baselineheight;
	color: $textcolor;
  
  // visual
	background-color: transparent;
  
  // Block scroll when open sidenav or dialog box.
  &.nav-open,
  &.dialog--open {
    overflow: hidden;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a:focus {
  outline: 0;
}

/**
 * From here, write positioning styles and details for web site. Enjoy!
 */
 
// app-body container
.app-body {
  // Box-model
  display: flex;
  flex-direction: column;
  padding-top: $header-xs;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  
  // Responsive
  @include respond-to(small) {
    padding-top: $header-sm;
  }
}

// Styles when component header navigation is open
app-header.header__nav-open + .app-body {
  // Box-model
  padding-top: $header-xs + $headernav-height;
  
  // Responsive
  @include respond-to(small) {
    padding-top: $header-sm + $headernav-height;
  }
}