/*------------------------------------*\
    $LANG-LIST
\*------------------------------------*/

lang-list {
  .dropdown {
    
    &__list {
      background: $header-color;
    }
    
    &__item {
      // Box-model
      max-width: 15rem;
      
      // Visual
      color: $white;
      
      // Ellipsis hack
      @extend %text-overflow;
    }
  }
}